.gradle
.settings
.classpath
.project
bin
.idea
/build
/target_*/build
/desktopRuntime/_eagstorage*
/desktopRuntime/eclipseProject/bin*
/desktopRuntime/hs_err_*
/desktopRuntime/crash-reports/*
/desktopRuntime/options.txt
/desktopRuntime/_eagstorage*
/desktopRuntime/filesystem/*
/desktopRuntime/downloads/*
/desktopRuntime/screenshots/*
/target_teavm_javascript/javascript/*
/target_teavm_javascript/javascript/js/*
/target_teavm_wasm_gc/javascript_dist/*

target_teavm_javascript.zip
